:root{
    --bg-dark: #292929;
    --container-dark: #121212;
    --window-dark: #292929;
    --text-color-dark: #ecf9ff;

}

.dark-mode-container{
    background-color: var(--container-dark);
}


body{
    background-color: #F3F0FF;
    font-family: "Baloo Bhai 2", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}
.dark{
    background-color: var(--bg-dark);
    transition: all 0.3s ease-in-out;
}
.dark #container{
    background-color: var(--container-dark);
    transition: all 0.3s ease-in-out;
}
.dark #window{
    background-color: var(--window-dark);
    transition: all 0.3s ease-in-out;
}
.dark #predict-btn{
    background-color: var(--window-dark);
    transition: all 0.3s ease-in-out;
}
.dark #predict-btn:hover{
    background-color: #fddc62;
    transition: all 0.1s ease-in-out;
    .ri-arrow-right-circle-fill{
        color: black;
        transition: all 0.1s ease-in-out;
    }
}
.dark #text{
    color: var(--text-color-dark);
    transition: all 0.3s ease-in-out;
}
.dark .ri-arrow-right-circle-fill{
    color: var(--text-color-dark);
    transition: all 0.3s ease-in-out;
}
.dark .right-header i, .dark .right-header h1, .dark .right-header h1 span{
    color: var(--text-color-dark);
    transition: all 0.3s ease-in-out;
}
.dark .made-by{
    color: var(--text-color-dark);
    transition: all 0.3s ease-in-out;
}
.dark .btn{
    background-color: rgb(105, 105, 105);
    color: var(--container-dark);
    transition: all 0.3s ease-in-out;
}

.main{
    width: 70%;
    aspect-ratio: 16/9;
    background-color: #ffffff;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 1.25vw;
    border-radius: 1.25vw;

    box-sizing: border-box;
    padding: 1.25vw;
    transition: all 0.3s ease-in-out;
}
.top{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    gap: 1.25vw;
    transition: all 0.3s ease-in-out;
}
.left-section{
    background-color: #F3F0FF;
    width: 20%;
    height: 100%;
    border-radius: 1vw;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
    padding: 1.5vh 0;
    color: #5F33E1;
    transition: all 0.3s ease-in-out;

    
}
.left-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.left-title span{
    font-size: 1.5vw;
    font-weight: 800;
    color: #3b1aa0;
    transition: all 0.3s ease-in-out;
}

.ri-robot-2-fill{
    font-size: 3vw;
    padding-bottom: 5px;
    color: #8764FF;
    transition: all 0.3s ease-in-out;
}
.ri-cpu-line{
    font-size: 3vw;

}
.ri-bar-chart-box-ai-fill{
    font-size: clamp(1.25rem, 1.8vw, 2.5rem);
    color: #8764FF;
    padding-bottom: 5px;
    padding-right: 5px;
}

.buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.btn{
    margin: 10% 0;
    border: none;
    width: 70%;
    aspect-ratio: 1.5/1;
    background-color: #EDE8FF;
    color: #3b1aa0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.3s ease-in-out;
    border-radius: 2vw;
    cursor: pointer;
    box-sizing: border-box;

}

input[type="radio"]{
    display: none;
}
input[type="radio"]:checked + label{
    background-color: #5F33E1;
    color: #FFFFFF;
}
.btn span{
    font-family: "Baloo Bhai 2", sans-serif;
    font-size: 1.2vw;
    font-weight: 800;
}
.btn:hover{
    background-color: #5F33E1;
    color: #FFFFFF;
    transition: all 0.2s ease-in-out;
}

.right-section{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    gap: 1.25vw;
}
.right-header{
    width: 100%;
    height: 15%;
    background-color: #EDE8FF;
    border-radius: 20vh;
    display: flex;
    gap: 1vw;
    padding: 1vw 1.5vw;
    align-items: center;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}
.right-header h1{
    font-size: 1.5vw;
    font-weight: 800;
    color: #3b1aa0;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.right-header h1 span{
    color: #6e43f0;
    transition: all 0.3s ease-in-out;
}
.ri-mail-send-fill{
    font-size: 2.75vw;
    color: #3b1aa0;
    transition: all 0.3s ease-in-out;
}
.center{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 1vw;
    gap: 1.25vw;


}
.input-field{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #E7F3FF;
    border-radius: 1vw;
    padding: 1.25vw;
    gap: 0.5vw;
    transition: all 0.3s ease-in-out;
}
.input-field label{
    font-size: 1vw;
    font-weight: 600;
    color: #6E6A7C;
}
.input-field textarea{
    border: none;
    background-color: #ffffff;
    border-radius: 0.75vw;
    padding: 1.25vw;
    font-size: 1vw;
    font-weight: 600;
    color: #24252C;
    resize: none;
    outline: none;
    box-sizing: border-box;
    flex: 1;
}
.pred-area{
    width: 10%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color:#FFF6D4;
    border-radius: 1vw;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease-in-out;
}
.pred-area:hover{
    background-color: #fddc62;
    transition: all 0.2s ease-in-out;
}
.ri-arrow-right-circle-fill{
    font-size: 4vw;
    color: #24252C;
    transition: all 0.3s ease-in-out;
}

.footer{
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 1vw;
    gap: 1.25vw;
}

.made-by{
    width: 40%;
    height: 100%;
    box-sizing: border-box;
    background-color: #FFF6D4;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1.25vw;
    color: #423506;
    transition: all 0.3s ease-in-out;
}
.made-by span{
    font-size: 1.5vw;
    font-weight: 800;
}
.user{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    gap: 0.25vw;
}
.user span{
    font-size: 1vw;
    font-weight: 600;
}
.ri-account-circle-fill{
    font-size: 1.5vw;
}
.pred-res{
    width: 60%;
    height: 100%;
    box-sizing: border-box;
    background-color: #e7ecf0;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;

}
.pred-label{
    font-size: 1.5vw;
    font-weight: 800;
    color: #6E6A7C;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 0.5vw;

}
.pred-res span{
    font-weight: 800;
}
.ri-arrow-right-box-fill{
    font-size: 2.5vw;
    padding-right: 5px;
}
.pred-img{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.not-spam-bg{
    background-color: #2c722c;
    transition: all 0.3s ease-in-out;
}
.spam-bg{
    background-color: #AE0002;
    transition: all 0.3s ease-in-out;
}
.not-spam-predres{
    background-color: #2c722c;
    transition: all 0.3s ease-in-out;
}
.spam-predres{
    background-color: #AE0002;
    transition: all 0.3s ease-in-out;
}

.pred-output {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 3vw; 
    opacity: 0; 
    transition: opacity 0.3s ease-in-out; 
}


.pred-output.visible {
    opacity: 1;
}

.spam-pred-label {
    color: #ffc6c7;
    transition: all 0.3s ease-in-out; 
}
.not-spam-pred-label {
    color: #ccffcc;
    transition: all 0.3s ease-in-out;
}

.spam-output {
    color: #ffc6c7; 
}


.not-spam-output { 
    color: #ccffcc; 
}



.mode{
    height: 100%;
    margin-left: auto;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-size: 1.25vw;
    font-weight: 800;
    gap: 0.5vw;
}
.mode button{
    border: none;
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 2.4vw;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mode .mode-icon{
    color: #3b1aa0;
    font-size: 2.75vw;
    
}