<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-mail AI Detection System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
</head>
<body>
    <div class="main" id="container">
        <div class="top">
        <div class="left-section" id="window">
            <div class="left-title">
                <i class="ri-robot-2-fill" id="text"></i>
                <span id="text">Model Selection</span>
            </div>
          

            <form class="buttons">
                <input type="radio" id="svm" name="model" value="svm" required>
                <label for="svm" class="btn"><i class="ri-cpu-line"></i> <span>SVM</span></label>
           
                <input type="radio" id="nb" name="model" value="nb" required>
                <label for="nb" class="btn"><i class="ri-cpu-line"></i> <span>N.Bayes</span></label>
           
            </form>

            
           
                
        </div>
        <div class="right-section">
            <div class="right-header" id="window">
                <i class="ri-mail-send-fill"></i>
                <h1>E-mail <span>AI</span> Detection System</h1>
                <div class="mode">
                    <button id="toggle-dark">
                        <i class="ri-contrast-fill mode-icon"></i>
                    </button>
                </div>
            </div>
            <div class="center">
    
             
                        <form class="input-field" id="window">
                            <label for="email">Enter your E-mail here :</label>
                            <textarea id="email" name="email" rows="10" cols="30" placeholder="Paste your E-mail here..."></textarea>
                        </form>
                   
                    
                <button id="predict-btn" class="pred-area">
                    <i class="ri-arrow-right-circle-fill"></i>
                </button>
            </div>
        </div>
    </div>



    <div class="footer">
        <div class="made-by" id="window">
            <span>Made By :</span>
            <div class="user">
                <i class="ri-account-circle-fill"></i>
                <span>Harrat Hafsa</span>
            </div>
            <div class="user">
                <i class="ri-account-circle-fill"></i>
                <span>Abanouas Reda</span>
            </div>
            <div class="user">
                <i class="ri-account-circle-fill"></i>
                <span>Nadif Loubna</span>
            </div>
            <div class="user">
                <i class="ri-account-circle-fill"></i>
                <span>Makhloufi Oumaima</span>
            </div>
        </div>
        <div class="pred-res">
            <div class="pred-label">
            <span>Prediction</span>
            <i class="ri-arrow-right-box-fill"></i>
            </div>
            <div class="pred-img"></div>
        </div>
    </div>
    </div>
</body>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</html>
  